<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.username">jwzorstluduoav</property>
        <property name="hibernate.connection.password">e6208131a87f8c2383632ad3b69c5b6cede00fb46b802676b323e97a650ac83a</property>
        <property name="hibernate.connection.url">jdbc:postgresql://ec2-54-221-236-144.compute-1.amazonaws.com:5432/d11pd7jijnokmj</property>
        <property name="show_sql">true</property>
        <mapping class="com.example.demo.models.Book"/>
        <mapping class="com.example.demo.models.Logger"/>
    </session-factory>
</hibernate-configuration>