.indexDiv{
    text-align: center;
}
.button{
    align-self: center;
    background-color: #4CAF50;
    border: 1px;
    border-radius: 25px;
    color: white;
    padding: 80px 32px;
    text-decoration: none;
    display: inline-block;;
    font-size: 30px;
}

h1{
    text-align: center;
}

#newBook{
    float: right;
    margin-right: 75px;
}

#addNewBooks{

}