<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="shortcut icon" href="https://shillienjava.herokuapp.com/images/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Marck+Script" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script type="text/javascript" th:src="@{/js/appJS.js}"></script>
    <meta charset="UTF-8">
    <title>ABC books - About this WebApp</title>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-8865316569169080",
            enable_page_level_ads: true
        });
    </script>

</head>
<body>
<br>
<div id="aboutDiv" class="container">
    <h1 class="h1Left">
        <span th:text="#{technologies}"></span>
    </h1>
    <h3>FrontEnd</h3>
    <ul>
        <li>HTML 5</li>
        <li>CSS 3.0</li>
        <li>JavaScript</li>
        <li>Thymeleaf</li>
        <li>Bootstrap</li>
        <li>jQuery</li>
    </ul>
    <h3>BackEnd</h3>
    <ul>
        <li>Java</li>
        <li>Maven</li>
        <li>Spring Boot</li>
        <li>Spring MVC</li>
    </ul>

    <h3>DataBase</h3>
    <ul>
        <li>PostgreSQL</li>
    </ul>

    <a href="https://github.com/IgorSamchev/SpringMVC-Books">
        <span th:text="#{github}"></span></a>

    <p><a href="mailto:Igor.Samchev@gmail.com?subject=ABC Books question">
        <span th:text="#{emailContact}"></span></a></p><br>

    <div class="container backForm" align="left">
        <span th:text="#{emailForm}"></span>

        <form method="post" action="/about/sendEmail/">

            <span th:text="#{emailName}"></span>
            <label for="yourName"></label>
            <input id="yourName" name="name" type="text">


            <span th:text="#{emailSubject}"></span>
            <label for="yourSubject"></label>
            <input id="yourSubject" name="subject" type="text">

            <span th:text="#{emailMessage}"></span>
            <label for="yourText"></label>
            <textarea id="yourText" name="text"></textarea>

            <div class="g-recaptcha" data-sitekey="6LcJ5KcUAAAAAA8uMo73G_qwDKSlQfZdkFqcreBF"></div>
            <button type="submit" class="btn btn-primary" th:text="#{emailButton}"></button>
        </form>
    </div>
    <br>

    <button id="backToMenu1" class="btn btn-success" onclick="MainMenu()" th:text="#{backToMenu}"></button>

    <button id="logButton" class="btn btn-warning" onclick="LogMenu()" th:text="#{showLogs}"></button>
</div>
</body>
</html>