<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Marck+Script" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <meta charset="UTF-8">
    <title>ABC books - Add new Book</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script type="text/javascript" th:src="@{/js/appJS.js}"></script>

</head>
<body>
<script>
    let ref = document.location.href;
    if (ref.includes('&g-recaptcha-response=')) {
        if (!ref.endsWith('se=')) {
            addNewBookWithCaptcha(ref);
        } else alert('Please Accept ReCaptcha terms');
    }
</script>
<div align="center" id="addView">
    <div th:switch="${currentLanguage}" id="addNewBooks">
        <h1 th:case="'en'">Add Book</h1>
        <h1 th:case="'ee'">Raamatu lisamine</h1>
        <h1 th:case="'ru'">Добавление новой книги</h1>
        <a th:href="@{'/books/addBook/changeCurrentLanguageEN'}">
            <img class="flag"
                 src="https://shillienjava.herokuapp.com/images/engFlag.png"
                 alt="ENG"></a>
        <a th:href="@{'/books/addBook/changeCurrentLanguageRU'}">
            <img class="flag"
                 src="https://shillienjava.herokuapp.com/images/rusFlag.png"
                 alt="RUS"></a>
        <a th:href="@{'/books/addBook/changeCurrentLanguageEE'}">
            <img class="flag"
                 src="https://shillienjava.herokuapp.com/images/estFlag.png"
                 alt="EST"></a>

        <br><br>
        <form>
            <p th:switch="${currentLanguage}">
                <span th:case="'en'">Title</span>
                <span th:case="'ee'">Pealkiri</span>
                <span th:case="'ru'">Наименование</span>
                <label for="titleID"></label>
                <input id="titleID" type="text" name="AddedBookTitle" required minlength="3" maxlength="30"/>
            </p>
            <div id="titleError" class="error"></div>

            <p th:switch="${currentLanguage}">
                <span th:case="'en'">Author</span>
                <span th:case="'ee'">Autor</span>
                <span th:case="'ru'">Автор</span>
                <label for="authorID"></label>
                <input id="authorID" type="text" name="AddedBookAuthor" required minlength="3" maxlength="20"/>
            </p>
            <div id="authorError" class="error"></div>

            <p>ISBN:
                <label for="isbnID"></label>
                <input id="isbnID" type="text" name="AddedBookISBN" required minlength="3" maxlength="15"/>
            </p>
            <div id="isbnError" class="error"></div>


            <div class="g-recaptcha" data-sitekey="6LcJ5KcUAAAAAA8uMo73G_qwDKSlQfZdkFqcreBF"></div>
            <br>
            <div th:switch="${currentLanguage}">
            <span th:case="'en'">
                <button id="cmdSubmit" class="addBookButton btn btn-primary"
                        onclick="addNewBook('en')">Add new Book
                </button>
            </span>
                <span th:case="'ee'">
                 <button class="addBookButton btn btn-primary"
                         onclick="addNewBook('ee')">Lisa uus raamat
                </button>
            </span>
                <span th:case="'ru'">
                 <button class="addBookButton btn btn-primary"
                         onclick="addNewBook('ru')">Добавить новую книгу
                </button>
            </span>
            </div>
        </form>
        <div th:switch="${currentLanguage}">
            <button class="backToMenu btn btn-success"
                    onclick="MainMenu()">
                <span th:case="'en'">Back to Main Menu</span>
                <span th:case="'ee'">Tagasi põhimenüüsse</span>
                <span th:case="'ru'">Возврат в главное меню</span>
            </button>
        </div>
    </div>
</div>
</body>
</html>