<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ABC books - ThymeLeaf</title>
</head>
<body>
	<h1 align="center">ABC Books</h1>
	<br />
	<table cellpadding="10" align="center">
		<tr>
			<th>#</th>
			<th>Title</th>
			<th>Author</th>
			<th>ISBN-13</th>
			<th>Comments</th>
			<th>Action</th>
		</tr>
		<hr />
		<tr th:each="contact : ${contacts}">
			<td th:text="${contact.id}">id</td>
			<td th:text="${contact.name}">Title</td>
			<td th:text="${contact.email}">Author</td>
			<td th:text="${contact.country}">Comments</td>
			<td>0</td>
			<td><button>add</button><button>delete</button></td>
			
		</tr>
	</table>
</body>
</html>