<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <link rel="shortcut icon" href="https://shillienjava.herokuapp.com/images/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Marck+Script" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script type="text/javascript" th:src="@{/js/appJS.js}"></script>
    <title>ABC books - Edit</title>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-8865316569169080",
            enable_page_level_ads: true
        });
    </script>

</head>
<body>
<div class="edit">
    <div class="row">
        <div id="addNewBooks" class="col">
            <div class="row"><h1 th:text="#{edith1}"></h1>
            <a th:href="@{'/books_edit/'+ ${book.getID()} + '?language=en'}">
                <img class="flag" src="https://shillienjava.herokuapp.com/images/engFlag.png" alt="ENG"></a>
            <a th:href="@{'/books_edit/'+ ${book.getID()} + '?language=ru'}">
                <img class="flag" src="https://shillienjava.herokuapp.com/images/rusFlag.png" alt="RUS"></a>
            <a th:href="@{'/books_edit/'+ ${book.getID()} + '?language=ee'}">
                <img class="flag" src="https://shillienjava.herokuapp.com/images/estFlag.png" alt="EST"></a>
            </div>
            <br>
            <span th:text="#{title}"></span>
            <label for="titleID"></label>
            <input id="titleID" th:value="${book.getTitle()}" type="text" name="123"/>
            <div id="titleError" class="error2"></div>
            <br>

            <span th:text="#{author}"></span>
            <label for="authorID"></label>
            <input id="authorID" th:value="${book.getAuthor()}" type="text" value=""/>
            <div id="authorError" class="error2"></div>
            <br>

            <span>ISBN:</span>
            <label for="isbnID"></label>
            <input id="isbnID" th:value="${book.getISBN()}" type="text" value=""/><br>
            <div id="isbnError" class="error2"></div>
            <br>

            <button class="btn btn-primary"
                    th:onclick="'javascript:editBook(\''+ ${book.getID()} +'\', \'' +#{language.code} + '\');'"
                    th:text="#{editButton}">
            </button>

            <button class="btn btn-success" onclick="MainMenu()" th:text="#{backToMenu}"></button>
        </div>

        <div id="comments" class="col" align="center">
            <h1 th:text="#{comments}"></h1>
            <br>

            <label for="comment"></label>
            <textarea id="comment" rows="4" cols="25" name="bigComment"></textarea>
            <br>

            <button class="btn btn-warning commentButton"
                    th:onclick="'javascript:addComment(\''+ ${book.getID()} +'\');'" th:text="#{addComment}">
            </button>

            <div>
                <table id="commentTable" class="table table-hover">
                    <tr>
                        <th th:text="#{comments}"></th>
                    </tr>
                    <tr th:each="comment : ${book.getComment()}">
                        <td th:text="${comment}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>


</html>