<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <link href="https://fonts.googleapis.com/css?family=Marck+Script" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script type="text/javascript" th:src="@{/js/appJS.js}"></script>

    <title>ABC books - Edit</title>

</head>
<body>

<div class="edit">
    <div class="row">
        <div id="addNewBooks" class="col" th:switch="${currentLanguage}">
            <h1 th:case="'en'">Edit Book</h1>
            <h1 th:case="'ee'">Redigeerige raamatut</h1>
            <h1 th:case="'ru'">Редактировать книгу</h1>

            <p th:switch="${currentLanguage}">
                <span th:case="'en'">Title</span>
                <span th:case="'ee'">Pealkiri</span>
                <span th:case="'ru'">Наименование</span>
                <label for="titleEdit"></label>
                <input id="titleEdit" th:value="${book.getTitle()}" type="text" name="123"/>
            </p>
            <div id="titleEditError" class="error2"></div>

            <p th:switch="${currentLanguage}">
                <span th:case="'en'">Author</span>
                <span th:case="'ee'">Autor</span>
                <span th:case="'ru'">Автор</span>
                <label for="authorEdit"></label>
                <input id="authorEdit" th:value="${book.getAuthor()}" type="text" value=""/>
            </p>
            <div id="AuthorEditError" class="error2"></div>

            <p>ISBN:
                <label for="isbnEdit"></label>
                <input id="isbnEdit" th:value="${book.getISBN()}" type="text" value=""/>
            </p>
            <div id="isbnEditError" class="error2"></div>

            <span th:switch="${currentLanguage}">
                <span th:case="'en'">
                <button
                        class="btn btn-primary"
                        onclick="editBookEN(${book.getID()})"
                        th:onclick="'javascript:editBookEN(\''+ ${book.getID()} +'\');'">
                    Edit Book
                </button>
                </span>

                 <span th:case="'ee'">
                <button
                        class="btn btn-primary"
                        onclick="editBookEE(${book.getID()})"
                        th:onclick="'javascript:editBookEE(\''+ ${book.getID()} +'\');'">
                    Redigeerige raamatut
                </button>
                </span>

                 <span th:case="'ru'">
                <button
                        class="btn btn-primary"
                        onclick="editBookRU(${book.getID()})"
                        th:onclick="'javascript:editBookRU(\''+ ${book.getID()} +'\');'">
                    Редактировать книгу
                 </button>
                </span>
            </span>

            <span th:switch="${currentLanguage}">
                <span th:case="'en'">
                    <button class="btn btn-success"
                            onclick="MainMenu()">
                Back to Main Menu
                    </button>
                </span>

                <span th:case="'ee'">
                    <button class="btn btn-success"
                            onclick="MainMenu()">
                Tagasi põhimenüüsse
                    </button>
                </span>

               <span th:case="'ru'">
                    <button class="btn btn-success"
                            onclick="MainMenu()">
                Возврат в главное меню
                    </button>
                </span>
            </span>
        </div>


        <div id="comments" class="col" align="center" th:switch="${currentLanguage}">
            <h1 th:case="'en'">Comments</h1>
            <h1 th:case="'ee'">Kommentaarid</h1>
            <h1 th:case="'ru'">Комментарии</h1>

            <br>

            <label for="comment"></label>
            <textarea id="comment" rows="4" cols="25" name="bigComment"></textarea>
            <br>

            <span th:switch="${currentLanguage}">
                <span th:case="'en'">
                   <button class="btn btn-warning commentButton"
                           onclick="addComment(${book.getID()})"
                           th:onclick="'javascript:addComment(\''+ ${book.getID()} +'\');'">
                Add comment
                   </button>
                 </span>

                <span th:case="'ee'">
                   <button class="btn btn-warning commentButton"
                           onclick="addComment(${book.getID()})"
                           th:onclick="'javascript:addComment(\''+ ${book.getID()} +'\');'">
                Lisa kommentaar
                   </button>
                 </span>

                <span th:case="'ru'">
                   <button class="btn btn-warning commentButton"
                           onclick="addComment(${book.getID()})"
                           th:onclick="'javascript:addComment(\''+ ${book.getID()} +'\');'">
                Добaвить комментарий
                   </button>
                 </span>
            </span>

            <div>
                <table id="commentTable" class="table table-hover">
                    <tr th:switch="${currentLanguage}">
                        <th th:case="'en'">Comments:</th>
                        <th th:case="'ee'">Kommentaarid:</th>
                        <th th:case="'ru'">Комментарии:</th>
                    </tr>
                    <tr th:each="comment : ${book.getComment()}">
                        <td th:text="${comment}">Date</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>


</html>