<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script type="text/javascript" th:src="@{/js/appJS.js}"></script>
    <script src="../static/js/appJS.js"></script>
    <title>Add new Book</title>
</head>
<body>

<div class="edit">
    <div class="row">
        <div id="addNewBooks" class="col">

            <h1>Edit Book</h1>
            <p>Title:
                <label for="titleID"></label>
                <input id="titleID" th:value="${book.getTitle()}" type="text" name="123"/>
            </p>
            <p>Author:
                <label for="authorID"></label>
                <input id="authorID" th:value="${book.getAuthor()}" type="text" value=""/>
            </p>
            <p>ISBN:
                <label for="isbnID"></label>
                <input id="isbnID" th:value="${book.getISBN()}" type="text" value=""/>
            </p>
            <button id="addBookButton"
                    class="btn btn-primary"
                    onclick="editBook(${book.getID()})"
                    th:onclick="'javascript:editBook(\''+ ${book.getID()} +'\');'"

            >Edit Book
            </button>

            <button id="backToMenu"
                    class="btn btn-success"
                    onclick="MainMenu()">
                Back to Menu
            </button>
        </div>


        <div id="comments" class="col" align="center">
            <h1>Comments</h1>
            <br/>

            <label for="comment"></label>
            <textarea id="comment" rows="4" cols="25" name="bigComment"></textarea>
            <br>
            <button id="commentButton" class="btn btn-primary"
                    th:onclick="'javascript:addComment(\''+ ${book.getID()} +'\');'">
                Add comment
            </button>

            <div>
                <table id="commentTable" class="table table-hover">
                    <tr>

                        <th>Comments:</th>
                    </tr>
                    <tr th:each="comment : ${book.getComment()}">
                        <td th:text="${comment}">Date</td>

                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

</body>


</html>