<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <link href="https://fonts.googleapis.com/css?family=Marck+Script" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script
            src="https://code.jquery.com/jquery-3.4.0.js"
            integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <title>ABC books - Main Table</title>


</head>
<script>
    $(document).ready(function () {
        $('#myTable').tablesorter();
    });
</script>
<body>


<div class="container-fluid" id="mainTable">
    <h1>ABC Books - KTA-18V - Igor Samchev
    <a th:href="@{'/books/changeCurrentLanguageEN'}"><img class="flag" src="https://shillienjava.herokuapp.com/images/engFlag.png"></a>
    <a th:href="@{'/books/changeCurrentLanguageRU'}"><img class="flag" src="https://shillienjava.herokuapp.com/images/estFlag.png"></a>
    <a th:href="@{'/books/changeCurrentLanguageEE'}"><img class="flag" src="https://shillienjava.herokuapp.com/images/rusFlag.png"></a>
    </h1>

    <div class="form-group">
        <a th:href="@{'/books/addBook/'}"
           class="btn btn-success newBook">
            <span>Add New Book</span>
        </a>
        <label for="search"></label><input type="text" class="form-control pull-right" id="search"
                                           placeholder="Search at table">
    </div>
    <br/>
    <table class="table table-hover myTable" id="myTable">
        <thead>
        <tr>

            <th>#</th>
            <th th:text="${Title}"></th>
            <th th:text="${Author}"></th>
            <th>ISBN-13</th>
            <th th:text="${Comments}"></th>
            <th th:text="${Action}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td class="align-middle" th:text="${book.getID()}">id</td>
            <td class="align-middle" th:text="${book.getTitle()}">Title</td>
            <td class="align-middle" th:text="${book.getAuthor()}">Author</td>
            <td class="align-middle" th:text="${book.getISBN()}">ISBN</td>
            <td class="align-middle" th:text="${book.getCommentLength()}">Comments</td>

            <td>
                <a id="deleteButton" th:onclick="'javascript:doDelete(' + ${book.getID()} + ');'"
                   class="btn btn-danger"><i class="fa fa-trash"></i></a>
                <a id="editButton" th:href="@{'/books_edit/' + ${book.getID()}}"
                   class="btn btn-danger"><i class="fa fa-bars"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{'/books/addBook/'}"
       class="btn btn-success newBook">
        <span>Add New Book</span>
    </a>
    <a id="about" th:href="@{'/about'}"
       class="btn btn-info newBook">
        <span>About</span>
    </a>
</div>

<script>
    $(document).ready(function () {
        $("#search").keyup(function () {
            let _this = this;

            $.each($("#myTable tbody tr"), function () {
                if ($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) === -1) {
                    $(this).hide();
                } else {
                    $(this).show();
                }
            });
        });
    });
</script>

<script type="text/javascript" th:src="@{/js/jquery.tablesorter.js}"></script>
<script type="text/javascript" th:src="@{/js/appJS.js}"></script>
</body>
</html>