<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="https://shillienjava.herokuapp.com/images/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Marck+Script"
          rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <script
            src="https://code.jquery.com/jquery-3.4.0.js"
            integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <title>ABC books - Main Table</title>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-8865316569169080",
            enable_page_level_ads: true
        });
    </script>

</head>
<script>
    $(document).ready(function () {
        $('#myTable').tablesorter();
    });
</script>
<body>


<div class="container-fluid" id="mainTable">
    <h1>ABC Books - KTA-18V - Igor Samchev
        <a th:href="@{'/books_list/?language=en'}">
            <img class="flag" src="https://shillienjava.herokuapp.com/images/engFlag.png" alt="ENG"></a>
        <a th:href="@{'/books_list/?language=ru'}">
            <img class="flag" src="https://shillienjava.herokuapp.com/images/rusFlag.png" alt="RUS"></a>
        <a th:href="@{'/books_list/?language=ee'}">
            <img class="flag" src="https://shillienjava.herokuapp.com/images/estFlag.png" alt="EST"></a>
    </h1>

    <div class="form-group">
        <a th:href="@{'/books/addBook/'}"
           class="btn btn-success newBook" th:text="#{addBookButton}">
        </a>
        <label for="search"></label>
        <input type="text" class="form-control pull-right" id="search"
               placeholder="Search at table - Поиск по таблице - Otsi tabelist">
    </div>

    <br/>

    <table class="table table-hover myTable" id="myTable">
        <thead>
        <tr>
            <th>#</th>
            <th th:text="#{title}"></th>
            <th th:text="#{author}"></th>
            <th>ISBN-13</th>
            <th th:text="#{comments}"></th>
            <th th:text="#{action}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td class="align-middle" th:text="${book.getID()}">id</td>
            <td class="align-middle" th:text="${book.getTitle()}">Title</td>
            <td class="align-middle" th:text="${book.getAuthor()}">Author</td>
            <td class="align-middle" th:text="${book.getISBN()}">ISBN</td>
            <td class="align-middle" th:text="${book.getCommentLength()}">Comments</td>

            <td>
                <a id="deleteButton" th:onclick="'javascript:doDelete(' + ${book.getID()} + ');'"
                   class="btn btn-danger"><i class="fa fa-trash"></i></a>
                <a id="editButton" th:href="@{'/books_edit/' + ${book.getID()}}"
                   class="btn btn-danger"><i class="fa fa-bars"></i></a>
            </td>
        </tr>
        </tbody>
    </table>

    <a th:href="@{'/books/addBook/'}"
       class="btn btn-success newBook"  th:text="#{addBookButton}">
    </a>

    <a id="about" th:href="@{'/about'}"
       class="btn btn-info newBook" th:text="#{aboutButton}">
    </a>
</div>

<script>
    $(document).ready(function () {
        $("#search").keyup(function () {
            let _this = this;

            $.each($("#myTable tbody tr"), function () {
                if ($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) === -1) {
                    $(this).hide();
                } else {
                    $(this).show();
                }
            });
        });
    });
</script>
<script type="text/javascript" th:src="@{/js/jquery.tablesorter.js}"></script>
<script type="text/javascript" th:src="@{/js/appJS.js}"></script>
</body>
</html>